* {
    margin: 0;  /* retira todas as margens da página*/
    padding: 0px;
}

html, body {
    height: 100%; /* faz com que o html e body tenha 100% fundamental para usar background graddientes*/
}

body{
    background: rgb(131,7,125);
    background: linear-gradient(180deg, rgba(131,7,125,1) 0%, rgba(31,110,133,0) 100%);
    color: whitesmoke;
    font-style: normal ;
}

.avatar{
    width: 80px;
    border-radius: 50px;
    border: 3px solid white;  /*cria uma borda*/
    box-shadow: 0 0 20px white; /*cria uma sombra em volta da borda*/
}

h1{
    font-family: 'Architects Daughter', cursive;
    font-weight: 100; /*diminui a grossura da letra*/
    font-size: 24px;
    margin-bottom: 5px;
}

h2{
    font-size: 16px;
    margin-top: 2px;
}

.profile{
    text-align: center;
    margin-top: 20px;
}

.social {
   display: flex; /*alinha todas as imagens filhas lado a lado*/
   /*justify-content:center; só funciona quando tempos o item "FLEX" em utilização*/
   justify-content: space-between; /*adiciona um espaço entre as figuras*/
   list-style: none; /*remove os icones iniciais das listas*/
   margin-top: 20px;

}

.social img { /*atribui classe a várias imagens*/
    width: 50px;
    

}



.link-list {
    list-style: none; /*atribui classe a toda lista*/
}

.link-list li {
    margin: 10px 20px; /*atribui classe ao elemento li*/
    font-style: normal;
   
}

.link-list li a {
    display: block;
    background-color: white;  /*atribui classe ao elemento a*/
    padding: 15px 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px black;
    text-decoration: none; /*remove o sublinhado do link*/
    font-weight: bold;
}

.link-list li a span {
    color: gray;
    display: block;
    margin-top: 5px;
    font-style: normal;
}